<!--Bibliografiske metadata -->
<a id="bibliographic"></a>
<fieldset id="bibliographic" class="row">
  <legend class="col-sm-12" >
    <%= t('.title') %>
  </legend>
  <div class="col-sm-6">
    <%= builder.input :title_statement %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :isbn13 %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :dimensions %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :extent %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :mode_of_issuance, collection: get_list_with_labels('Mode of Issuance'),  include_blank: t('.udgivelsesform') %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :contents_note %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :note %>
  </div>
</fieldset>
<fieldset id="publisher" class="row">
  <legend class="col-sm-12" >
    <%= "Udgivelses oplysninger:" %>
  </legend>
    <%= builder.input :publisher, collection: select_fields(Finder.all_organizations), input_html: { class: 'combobox'}, wrapper_html: { class: 'col-sm-6' } %>
    <%= builder.input :published_date, wrapper_html: { class: 'col-sm-6' } %>
</fieldset>
<fieldset class="row">
    <legend class="col-sm-12" >
      <%= "Ophavsret:" %>
    </legend>
  <div class="row">
    <div class="col-sm-12">
      <label class="radio-inline">
        <input type="radio" class="udloeb" name="instance[copyright_status]"  id="copyright_status" value="udloebet" <%= @instance.copyright_status == 'udloebet' ? 'checked' : '' %> >
            Udløbet
      </label>
      <label class="radio-inline">
        <input type="radio" class="ukendt" name="instance[copyright_status]"  id="copyright_status" value="ukendt" <%= @instance.copyright_status == 'ukendt' ? 'checked' : '' %> >Ukendt
      </label>
      <label class="radio-inline">
        <input type="radio" class="agent" name="instance[copyright_status]"  id="copyright_status" value="agent" data-toggle="copyright_fields" <%= @instance.copyright_status == 'agent' ? 'checked' : '' %> >Agent
      </label>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <div id="agent" class="collapse">
          <%= builder.input :copyright_holder, collection: select_fields(Finder.all_people + Finder.all_organizations), include_blank: t('.copyright_holder'), input_html: { class: 'combobox'}, wrapper_html: { class: 'col-sm-6' } %>
          <%= builder.input :copyright_date, wrapper_html: { class: 'col-sm-6' } %>
        </div>
      </div>
  </div>
</fieldset>
<% if @instance.copyright_status == 'agent' %>
    <%= javascript_tag do %>
        $(document).ready(
        function () {
            $('#agent').slideDown();
                       });
    <% end %>
<% end %>
