<!--Bibliografiske metadata -->
<a id="bibliographic"></a>
<fieldset id="bibliographic" class="row">
  <legend class="col-sm-12" >
    <%= t('.title') %>
  </legend>
  <div class="col-sm-6">
    <%= builder.input :title_statement %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :isbn13 %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :dimensions %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :mode_of_issuance %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :contents_note %>
  </div>

  <% if @instance.note.present? %>
      <% @instance.note.each do |n| %>
          <div class="col-sm-6">
            <%= builder.input :note, input_html: { value: n, name: 'instance[note][]' } %>
          </div>
      <% end %>
  <% end %>
  <div class="col-sm-6">
    <%= builder.input :note , input_html: { value: '', name: 'instance[note][]'} %>
  </div>

  <%= render partial: 'provider/form', locals: { builder: builder } %>

  <%= render partial: 'relators/form', locals: { builder: builder } %>

</fieldset>