<!--Bibliografiske metadata -->
<a id="bibliographic"></a>
<fieldset id="bibliographic" class="row">
  <legend class="col-sm-12" >
    <%= t('.title') %>
  </legend>
  <div class="col-sm-6">
    <%= builder.input :title_statement %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :isbn13 %>
  </div>

  <div class="col-sm-6">
    <%= builder.input :dimensions %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :mode_of_issuance %>
  </div>
  <div class="col-sm-6">
    <%= builder.input :contents_note %>
  </div>

  <% if @instance.note.present? %>
      <% @instance.note.each do |n| %>
          <div class="col-sm-6">
            <%= builder.input :note, input_html: { value: n, name: 'instance[note][]' } %>
          </div>
      <% end %>
  <% end %>
  <div class="col-sm-6">
    <%= builder.input :note , input_html: { value: '', name: 'instance[note][]' } %>
  </div>
</fieldset>
<fieldset>
    <legend class="col-sm-12" >
      <%= "Ophavsret:" %>
    </legend>

  <%= builder.simple_fields_for :relators do |rel_fields| %>
      <div class="row relator_fields">
        <div class="col-sm-12">
          <label class="radio-inline">
            <input type="radio" class="udloeb" name="instance[copyright_status]"  id="copyright_status" value="udloebet">Udløbet
          </label>
          <label class="radio-inline">
            <input type="radio" class="ukendt" name="instance[copyright_status]"  id="copyright_status" value="ukendt">Ukendt
          </label>
          <label class="radio-inline">
            <input type="radio" class="addagent" name="instance[copyright_status]"  id="copyright_status" value='addagent' data-toggle="copyright_fields">Agent
          </label>

        </div>
      </div>
      <div class="col-sm-12">
      <div id="addagent" class="collapse">

          <%= rel_fields.input :agent_id, collection: select_fields(Finder.all_people + Finder.all_organizations), wrapper_html: { class: 'col-sm-4' } %>
          <%= rel_fields.input :role, as: :hidden, value: 'http://id.loc.gov/vocabulary/relators/cph' %>
          <%= builder.simple_fields_for :publications do |f| %>
              <div class="col-sm-4">
                <%= f.input :copyright_date %>
              </div>
          <% end %>
        </div>
      </div>

  <% end %>

</fieldset>