<a id="bibliotgraphic"></a><h4>Bibliografisk data</h4>
<table class="table table-striped"><tbody>
<tr>
  <td>
    <strong><%=  t('.isbn') %></strong>
  </td>
  <td>
    <span><%= @instance.isbn13 %></span>
  </td>
</tr>
<tr>
<tr>
  <td>
    <strong><%= t('.mode_of_issuance') %></strong>
  </td>
  <td>
    <span><%= @instance.mode_of_issuance %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.extent') %></strong>
  </td>
  <td>
    <span><%= @instance.extent %></span>
  </td>
</tr>
<tr>
  <td>
    <strong>Note </strong>
  </td>
  <td>
    <% @instance.note.each do |n| %>
    <span>
      <%= n %>
    </span>
    <% end %>
  </td>
</tr>
<%= render partial: 'provider/show', locals: { provider: @instance.publication } %>

</tbody></table>
