<a id="administrative"></a><h4><%= t('.label') %></h4>
<table class="table table-striped"><tbody>
<tr>
<td>
  <strong><%= t('.activity') %></strong>
</td>
<td>
  <span><%= Administration::Activity.find(@instance.activity).activity rescue nil %></span>
</td>
</tr>
<tr>
  <td>
    <strong><%= t('.collection') %></strong>
  </td>
  <td>
    <span><%= @instance.collection.to_sentence %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.copyright') %></strong>
  </td>
  <td>
    <span><%= rdf_resource_link(@instance.copyright) %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('embargo_date') %></strong>
  </td>
  <td>
    <span><%= @instance.embargo_date %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.embargo_condition') %></strong>
  </td>
  <td>
    <span><%= @instance.embargo_condition %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('instances.administrative.is_available') %></strong>
  </td>
  <td>
    <span><%= @instance.availability == '1' ? 'Ja' : 'Nej' %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservation_profile') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_profile %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservation_state') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_state %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservaton_details') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_details %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.preservation_date') %></strong>
  </td>
  <td>
    <span><%= @instance.preservation_modify_date %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('.warc_id') %></strong>
  </td>
  <td>
    <span><%= @instance.warc_id %></span>
  </td>
</tr>
<% if @instance.copyright_status.present? %>
    <tr>
      <td>
        <strong><%= t('.copyright_status') %></strong>
      </td>
      <td>
        <span>
        <% if @instance.copyright_status == ('Ukendt' or 'Udloebet') %>
           <%= @instance.copyright_status %>
        <% else %>
           <% agent = Authority::Person.find(@instance.copyright_status) %>
           <%= link_to  agent.display_value, agent %>
        <% end %>
            </span>
      </td>
    </tr>
<% end %>
</tbody></table>