<div class="instans editMode">
  <div class="page-header">
    <div class="container">
      <div class="btn-group pull-right">
        <% if @instance.type == 'TEI' %>
            <% if @instance.validation_status == 'INPROGRESS' %>
                <%= link_to "Validering i gang...", work_instance_url(@work,@instance), :class => "btn btn-warning" %>
            <% end %>
            <% if @instance.validation_status == 'VALID'%>
                <%= link_to "Tei instans er valid", '#validationModal', :class => "btn btn-success","data-toggle"=>"modal" , "data-target" => "#validationModal" %>
            <% end %>
            <% if @instance.validation_status == 'INVALID' %>
                <%= link_to "Tei instans invalid", '#validationModal', :class => "btn btn-danger","data-toggle"=>"modal" , "data-target" => "#validationModal" %>
            <% end %>
        <% end %>
        <%= link_to 'Send til Bevaring', send_to_preservation_work_instance_url(@work,@instance), class: 'btn btn-primary' %>
        <% if @instance.is_a? Trykforlaeg %>
            <%= link_to 'Rediger', edit_work_trykforlaeg_url(@work,@instance), class: 'btn btn-primary' %>
        <% else %>
            <%= link_to 'Rediger', edit_work_instance_url(@work,@instance), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <h1><%= "#{t('instances.types.' + @klazz.to_s.downcase)} (#{@instance.type})" %></h1>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <%= render partial: 'sidebar' %>
      </div>
      <div class="col-sm-9">
        <%= render partial:  'instances/show_bibliograph' %>
        <h4><%= t 'works.show.agent_relations' %></h4>
        <%= render partial:  'relators/show', locals: { object: @instance } %>
        <%= render partial:  'instances/show_administrative' %>
        <%= render partial:  'instances/show_files' %>
      </div>
    </div>
  </div>
</div>

<%= render 'instances/validation_modal' %>