

<h1>Activity: <%= @activity.activity%></h1>

<table class="table">
  <tr>
    <td><%= t('.access') %></td>
    <td><%= @activity.access_condition %></td>
  </tr>
   <tr>
    <td><%= t('.availability') %></td>
    <td><%= @activity.availability %></td>
  </tr>
  <tr>
    <td><%= t('.collection') %></td>
    <td><%= @activity.collection %></td>
  </tr>
  <tr>
    <td><%= t('.embargo') %></td>
    <td><%= @activity.embargo %></td>
  </tr>
  <tr>
    <td><%= t('.em_condition') %></td>
    <td><%= @activity.embargo_condition %></td>
  </tr>
  <tr>
    <td><%= t('.pres_profile') %></td>
    <td><%= @activity.preservation_collection %></td>
  </tr>

  <tr>
    <td><%= t('administration.activities.dissemination.dissemination') %></td>
    <td><%= @activity.dissemination_profiles.to_sentence %></td>
  </tr>
</table>

<%= link_to t(:edit), edit_administration_activity_path(@activity) %> |
<%= link_to t(:back), administration_activities_path %>
