Found <%= @group["grouped"]["format_pronom_id_si"]["matches"] %> files found in <%= @group["grouped"]["format_pronom_id_si"]["groups"].size %> different formats:

<% @group["grouped"]["format_pronom_id_si"]["groups"].each do |group| %>
    <hr/>
    <p><%= "#{group["doclist"]["numFound"]} files in format '#{group["doclist"]["docs"].first['format_name_tesim'].first}'
    in version '#{group["doclist"]["docs"].first['format_version_tesim'].first}'
    with mimetype '#{group["doclist"]["docs"].first['format_mimetype_tesim'].first}' and pronom id: ''#{group["groupValue"] || 'unknown'}"'' %></p>
    <ul>
      <% group["doclist"]["docs"].each do |doc| %>
          <li><%= link_to doc['original_filename_tesim'].first, controller: "content_files", action: "show", id: doc['id'] %>
            <%= link_to 'activity', controller: "administration/activities", action: "show", id: doc['activity_tesim'] unless doc['activity_tesim'].nil?%>
            <%= "(Collection: #{doc['collection_tesim'].first}) " unless doc['collection_tesim'].nil? %>
            <%= "(PreservationProfile: #{doc['preservation_profile_tesim'].first}) " unless doc['preservation_profile_tesim'].nil? %>
            <%= "(Embargo: #{doc['embargo_tesim'].first == '1' ? 'true' : 'false'}) " unless doc['embargo_tesim'].nil? %>
            <%= "(InstanceType: #{doc['instance_type_tesim'].first}) " unless doc['instance_type_tesim'].nil? %>
            <%= "(MaterialType: #{doc['material_type_tesim'].first}) " unless doc['material_type_tesim'].nil? %>
            <%= "(Date: #{doc['created_dtsim'].first}) " unless doc['created_dtsim'].nil? %>
          </li>
      <%- end %>
    </ul>

<%- end %>