Found <%= @group["grouped"]["format_pronom_id_si"]["matches"] %> files found in <%= @group["grouped"]["format_pronom_id_si"]["groups"].size %> different formats:

<% @group["grouped"]["format_pronom_id_si"]["groups"].each do |group| %>
    <hr/>
    <p><%= "#{group["doclist"]["numFound"]} files in format with pronom id: #{group["groupValue"] || 'unknown'}" %></p>
    <p><%= "Format name: #{group["doclist"]["docs"].first['format_name_tesim'].first}" %></p>
    <p><%= "Format version: #{group["doclist"]["docs"].first['format_version_tesim'].first}" %></p>
    <p><%= "Format mimetype: #{group["doclist"]["docs"].first['format_mimetype_tesim'].first}" %></p>
    <ul>
      <% group["doclist"]["docs"].each do |doc| %>
          <li><%= link_to doc['original_filename_tesim'].first, controller: "content_files", action: "show", id: doc['id'] %>
            <%= "(Activity: #{doc['activity_tesim'].first}) " unless doc['activity_tesim'].nil? %>
            <%= "(Collection: #{doc['collection_tesim'].first}) " unless doc['collection_tesim'].nil? %>
          </li>
      <%- end %>
    </ul>

<%- end %>