<%= work_form.simple_fields_for :titles,
                                defaults: { wrapper_html: { class: 'form-group' },
                                            input_html: { class: 'form-control' }
                                } do |title_fields| %>

    <% id = "title#{title_fields.index }" %>
    <div id="<%= id %>" class="title_fields">
      <a class="btn btn-sm btn-error col-sm-offset-11" href="#" data-function="delete-fields" data-target="#<%=id %>">
        <span class="glyphicon glyphicon-minus"></span>
        <%= t('.close') %>
      </a>
      <div class='col-sm-8'>
        <%= title_fields.input :value, placeholder: 'Titel', required:true %>
      </div>
      <div class='col-sm-2'>
        <%= title_fields.input :variant, collection: get_controlled_vocab('Title types'), label: 'Type', input_html: { class: 'combobox form-control' }  %>
      </div>
      <div class='col-sm-12'>
        <%= title_fields.input :subtitle, label: 'Undertitel', placeholder: 'Undertitel' %>
      </div>
      <%= title_fields.hidden_field :_destroy %>
    </div>
<% end %>
