<p id="notice"><%= notice %></p>
<h1><%= @authority_object.display_value %></h1>
<table class="table table-striped"><tbody>
<tr>
  <td>
    <strong><%= t(".location") %></strong>
  </td>
  <td>
    <span> <%= @authority_object.location %></span>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t(".founding_date") %></strong>
  </td>
  <td>
    <span> <%= @authority_object.founding_date %></span>>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t(".dissolution_date") %></strong>
  </td>
  <td>
    <span> <%= @authority_object.dissolution_date %></span>>
  </td>
</tr>
</tbody></table>


<%= link_to 'Back', :back %>
