<%# work partial to display solr document fields in catalog index view -%>
<% counter = document_counter_with_offset(document_counter) %>
<dl class="document-metadata dl-horizontal dl-invert">
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>
<div class="work_result_instances panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="workInstancesHeading<%=counter%>">
      <h5 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#workInstances<%=counter%>" aria-expanded="false" aria-controls="workInstances<%=counter%>">
          <%= document["has_instance_ssim"].size %> instans(er)
        </a>
      </h5>
    </div>
    <div id="workInstances<%=counter%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="workInstancesHeading<%=counter%>">
      <ul class="list-group">
        <% document["has_instance_ssim"].each do |inst_id| %>
            <% id = inst_id.split('/').last %>
            <li class="list-group-item"><%= get_work_instance_link_for_search_result(document["id"],id) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
