<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>
<% if current_search_session %>
    <div class="search-widgets">
      <%= link_to "Back to Book", "/catalog/#{URI::escape(@document['work_id_ssi'], "/")}" %>
    </div>
<% end %>

<%= render :partial => 'show_tools' %>

<% if letter["status_ssi"].present? %>
    <dt>Status:</dt>
    <dd class="status-box<%
       case letter["status_ssi"]
         when "created" %> yellow<%
       when "waiting" %> orange<%
       when "working" %> blue<%
       when "completed" %> green<%
       end
    %>"><%= letter["status_ssi"] %></dd>
<% end %>

<% unless @document.more_like_this.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading">More Like This</div>
      <div class="panel-body">
        <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
      </div>
    </div>
<% end %>

<% if current_user && (current_user.admin?) %>
    <%= SnippetServer.render_snippet(id, {:op =>'form', :c =>  coll}) %>
<% end %>