<%# default partial to display solr document fields in catalog show view -%>
<%= render 'catalog/show_header_default' %>
<%= render 'catalog/previous_next_doc' %>
<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>

<div class="container nav-tab-instance-fixContainer">
  <div class="row"><div class="col-md-12">
    <div class="nav-tab-instance">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
              <%= link_to(solr_document_path(@document.id)) do %>
                  Tekst
              <% end %>
        </li>
        <li role="presentation">
              <%# Note we need to use no_turbolink because turbolinks will fuck with the unveil library %>
              <%= link_to(facsimile_catalog_path(@document.id) + "/", data: { no_turbolink: true }) do %>
                  Faksimile
              <% end %>
        </li>

      </ul>
    </div></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
          <div class="text-content workContent">
            <div class="text">
              <% text ||= SnippetServer.render_snippet(@document.id,{:c=> coll}) %>
              <%= text.html_safe %>
            </div>
          </div>
    </div>
  </div>
</div>