<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>
<% if current_search_session %>
    <div class="search-widgets">
      <%= link_to "Back to Book", "/catalog/#{URI::escape(@document['work_id_ssi'], "/")}"  if @document['work_id_ssi'].present? %>
    </div>
<% end %>

<%= render :partial => 'show_tools' %>

<% if @document["status_ssi"].present? %>
    <dt>Status:</dt>
    <dd class="status-box<%
       case @document["status_ssi"]
         when "created" %> yellow<%
       when "waiting" %> orange<%
       when "working" %> blue<%
       when "completed" %> green<%
       end
    %>"><%= @document["status_ssi"] %></dd>
<% end %>

<% unless @document.more_like_this.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading">More Like This</div>
      <div class="panel-body">
        <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
      </div>
    </div>
<% end %>

<% if current_user && (current_user.admin?) %>
    <% data =  SnippetServer.render_snippet(id, {:op =>'json', :c =>  coll}) %>
    <% @letter = Letter.from_json(data) %>
    <% @letter.id = id %>
    <% @letter.work_id = @document['work_id_ssi'] %>
    <%= render partial: 'letters/letter_form'%>
<% end %>