<% id = @document.id %>
<% coll = "/db#{ id[0,id.rindex('/')] }" %>
<% if current_search_session %>
    <div class="search-widgets">
      <%= link_to "Back to Book", "/catalog/#{URI::escape(@document['work_id_ssi'], "/")}" %>
    </div>
<% end %>

<%= render :partial => 'show_tools' %>

<% if @document["status_ssi"].present? %>
    <dt>Status:</dt>
    <dd class="status-box<%
       case @document["status_ssi"]
         when "created" %> yellow<%
       when "waiting" %> orange<%
       when "working" %> blue<%
       when "completed" %> green<%
       end
    %>"><%= @document["status_ssi"] %></dd>
<% end %>

<% unless @document.more_like_this.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading">More Like This</div>
      <div class="panel-body">
        <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
      </div>
    </div>
<% end %>

<% if current_user && (current_user.admin?) %>
    <% data = '{"id":"12345637", "sender" : [{"text" : "Kære Viktor", "xml_id" : "idm11111"},{"text" : "og Hans", "xml_id" : "idm11112"}], "recipient" : [{"text" : "Hilsen Tove", "xml_id": "idm2222"}], "place" : [{"text" : "Det mørke Jylland", "xml_id" : "idm3333"},{"text": "Hovedstaden", "xml_id": "idm4444"}], "date" : {"text":"lørdag","xml_id":"idm5555"}}' %>
    <% @letter = Letter.from_json(data) %>
    <%= render partial: 'letters/letter_form'  %>
<% end %>