<div id="sidebar" class="<%= show_sidebar_classes %>">
  <% if (@document['has_model_ssim'] & ['LetterBook']).present? %>
      <%= render partial: 'show_sidebar_letter_book' %>
  <% else %>
      <%= render_document_sidebar_partial %>
  <% end %>
</div>

<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>


