<table class="table table-striped"><tbody>
<tr>
  <td> <strong><%= t('instances.show_files.file_name')%></strong></td>
  <td>
    <%= file.original_filename %>
  </td>
</tr>
<tr>
  <td>
    <strong><%= t('instances.show_files.bev_profil')%></strong>
  </td>
  <td>
    <span><%= file.preservation_profile %></span>
  </td>
</tr>
<tr>
  <td><strong><%= t('instances.show_files.bev_status')%></strong></td>
  <td><%= file.preservation_state %></td>
</tr>
<tr>
  <td><strong><%= t('instances.show_files.bev_detaljer')%></strong></td>
  <td><%= file.preservation_details %></td>
</tr>
<tr>
  <td><strong><%= t('instances.show_files.download')%></strong></td>
  <td>
    <%if can?(:download, file) %>
        <%= link_to "Download", download_content_file_path(file)%>
    <% end %>
  </td>
</tr>
<% if file.content_can_be_changed? %>
    <tr>
      <td><strong><%= t('instances.show_files.upload')%></strong></td>
      <td>
        <%if can?(:download, file) %>
            <%= link_to "Upload", '#upload_file_modal', {"data-toggle" => "modal", "data-target" => "#upload_file_modal"} %>
        <% end %>
      </td>
    </tr>
<% end %>
</tbody></table>