<% @letter_book ||= LetterBook.find(id) %>
<% @instance ||= @letter_book.instances.first %>
<div class="previewMode">
  <div class="container">
    <% if @letter_book.titles.size > 0 %>
        <h3><%= t('letter_books.title') %></h3>
        <%= @letter_book.titles.first.value %><br>
    <% end %>
    <% if @letter_book.origin_date.present? %>
        <h3><%= t('letter_books.origin_date') %></h3>
        <%= @letter_book.origin_date %>
    <% end %>
    <% if @instance.edition.present? %>
        <h3><%= t('letter_books.edition') %></h3>
        <%= @instance.edition %>
    <% end %>
    <% if @instance.note.present? %>
        <h3><%= t('letter_books.notes') %></h3>
        <%= @instance.note %>
    <% end %>
  </div>
</div>